.version.eventos /* version checker */
{
	color: #000005;
	background-color: #350119;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 647px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -29px;
	padding-top: 17px;
	width: 0.01px;/* should not cover content below */
}

#pu7370-6
{
	width: 0.01px;
}

#u7370-6
{
	z-index: 2;
	min-height: 42px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #C1272D;
}

.js body.initialized
{
	visibility: visible;
}

#u7370-6-bw
{
	z-index: 2;
	min-height: 42px;
	margin-top: 192px;
}

#u6864
{
	z-index: 132;
	width: 209px;
	height: 111px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 85px;
}

#u6866-4
{
	z-index: 137;
	width: 95px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 27px;
}

#u6866-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 95px;
	margin: 5px -10000px 0px 0px;
}

#u6866-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 95px;
	margin: 5px -10000px 0px 0px;
}

#u6867-3
{
	z-index: 141;
	width: 27px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 231px;
}

#u6867-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 27px;
	margin: 5px -10000px 0px 0px;
}

#u6868-3
{
	z-index: 144;
	width: 29px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 146px;
}

#u6868-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 29px;
	margin: 4px -10000px 0px 0px;
}

#accordionu6869wrapper
{
	min-height: 220px;
	z-index: 147;
	margin-right: -10000px;
	margin-left: 280px;
}

#accordionu6869
{
	z-index: 147;
	width: 100px;
	position: relative;
}

#u6870
{
	z-index: 148;
	width: 100px;
	position: relative;
}

#u6908-4
{
	z-index: 149;
	width: 90px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u6908-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 90px;
	margin: 0px;
}

#u6908-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 90px;
	margin: 0px;
}

#u6908-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 90px;
	margin: 0px;
}

#u6871
{
	z-index: 153;
	width: 100px;
	position: relative;
}

#menuu6872
{
	z-index: 154;
	width: 94px;
	position: relative;
	margin-right: -10000px;
	left: 4px;
}

#u6901
{
	width: 94px;
	position: relative;
}

#u6904
{
	width: 94px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6904:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6906-4
{
	width: 94px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u6904:hover #u6906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u6874
{
	width: 94px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6875-4
{
	width: 94px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u6904.MuseMenuActive #u6906-4,#u6874:hover #u6875-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u6888
{
	width: 94px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6889-4
{
	width: 94px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u6874.MuseMenuActive #u6875-4,#u6888:hover #u6889-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u7344
{
	width: 94px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u7347-4
{
	width: 94px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u6888.MuseMenuActive #u6889-4,#u7344:hover #u7347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u6883
{
	width: 94px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u6884-4
{
	width: 94px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u7344.MuseMenuActive #u7347-4,#u6883:hover #u6884-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u6873,#u6887,#u7343,#u6880,#u6894
{
	width: 94px;
	margin-top: 2px;
	position: relative;
}

#u6895
{
	width: 94px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u6904.MuseMenuActive,#u6874.MuseMenuActive,#u6888.MuseMenuActive,#u7344.MuseMenuActive,#u6883.MuseMenuActive,#u6895.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6898-4
{
	width: 94px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u6883.MuseMenuActive #u6884-4,#u6895:hover #u6898-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u6895.MuseMenuActive #u6898-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u7371-6
{
	z-index: 8;
	width: 293px;
	min-height: 94px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	color: #7F7F7F;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-left: 53px;
	margin-top: 11px;
	position: relative;
}

#pu7376-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 15px;
}

#u7376-4
{
	z-index: 14;
	width: 170px;
	min-height: 18px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	color: #C1272D;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u7521-4
{
	z-index: 19;
	width: 169px;
	min-height: 25px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	color: #C1272D;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 191px;
}

#pu7377
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 5px;
}

#u7377
{
	z-index: 18;
	width: 170px;
	height: 115px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/syr-meetings-social-event-12430561-u7377-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u7522
{
	z-index: 23;
	width: 170px;
	height: 115px;
	position: relative;
	margin-right: -10000px;
	left: 192px;
	background: transparent url("../../images/ziniasklaida-u7522-fr.jpg") no-repeat left top;
	background-size: cover;
}

#pamphletu7378
{
	z-index: 24;
	width: 0.01px;
	height: 25px;
	padding-bottom: 3px;
	margin-left: 128px;
	margin-top: 16px;
	position: relative;
}

#u7419
{
	z-index: 25;
	width: 117px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u7420
{
	position: absolute;
	width: 124px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-width: 0px;
	border-color: transparent;
	background-color: #7F0019;
	border-radius: 10px;
	padding-bottom: 3px;
	top: -2px;
}

#u7420:hover
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	background-color: #7F0019;
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u7421-4
{
	z-index: 27;
	width: 117px;
	min-height: 23px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	color: #FFFFFF;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u7420:hover #u7421-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 117px;
	margin: 2px -10000px 0px 0px;
}

#u7420.PamphletThumbSelected #u7421-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 117px;
	margin: 2px -10000px 0px 0px;
}

#u7420.PamphletThumbSelected #u7421-4 p
{
	padding-top: 3px;
	font-size: 13px;
	font-family: krona-one, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u7421-2
{
	padding-top: 3px;
}

#u7383
{
	position: absolute;
	width: 429px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	padding-bottom: 44px;
	top: -508px;
	left: -143px;
	-pie-background: rgba(0,0,0,0.9);
}

#u7383popup
{
	z-index: 31;
}

#u7384
{
	z-index: 32;
	width: 385px;
	height: 610px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#widgetu7385
{
	z-index: 33;
	width: 0.01px;
	height: 567px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 18px;
}

#widgetu7408
{
	z-index: 34;
	width: 342px;
	height: 47px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu7408.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7409-4
{
	z-index: 35;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u7410-4
{
	z-index: 39;
	width: 328px;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#muse_css_mq,#widgetu7408.non-empty-st #u7410-4
{
	background-color: #FFFFFF;
}

#widgetu7408:hover #u7410-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7408.focus-st #u7410-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7408.non-empty-st #u7410-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7408:hover #u7410-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7408.focus-st #u7410-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7392
{
	z-index: 43;
	width: 342px;
	height: 47px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu7392.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u7395-4
{
	z-index: 44;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u7394-4
{
	z-index: 48;
	width: 328px;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu7392.non-empty-st #u7394-4
{
	background-color: #FFFFFF;
}

#widgetu7392:hover #u7394-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7392.focus-st #u7394-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7392.non-empty-st #u7394-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7392:hover #u7394-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7392.focus-st #u7394-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u7390-4
{
	z-index: 52;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 398px;
	left: 140px;
}

#widgetu7385.frm-sub-st #u7390-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u7416-4
{
	z-index: 56;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 398px;
	left: 140px;
}

#widgetu7385.frm-subm-err-st #u7416-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u7391-4
{
	z-index: 60;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 398px;
	left: 140px;
}

#widgetu7385.frm-sub-st #u7390-4,#widgetu7385.frm-subm-err-st #u7416-4,#widgetu7385.frm-subm-ok-st #u7391-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu7385.frm-subm-ok-st #u7391-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u7417-17
{
	z-index: 64;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 537px;
	background: url("../../images/u7417-17.png") no-repeat 0px 0px;
}

#u7417-17:hover
{
	background: url("../../images/u7417-17-r.png") no-repeat 0px 0px;
}

#u7417-17:active
{
	background: url("../../images/u7417-17-m.png") no-repeat 0px 0px;
}

#widgetu7385.frm-sub-st #u7417-17
{
	background: url("../../images/u7417-17-fs.png") no-repeat 0px 0px;
}

#widgetu7386
{
	z-index: 81;
	width: 342px;
	height: 156px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 362px;
	left: -1px;
}

#widgetu7386.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 156px;
	min-height: 0px;
	margin: 362px -10000px 0px 0px;
}

#u7389-4
{
	z-index: 82;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu7408.fld-err-st #u7409-4,#widgetu7386.fld-err-st #u7389-4
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u7387-4
{
	z-index: 86;
	width: 328px;
	min-height: 123px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu7386.non-empty-st #u7387-4
{
	background-color: #FFFFFF;
}

#widgetu7386:hover #u7387-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 123px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7386.focus-st #u7387-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 123px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7386.fld-err-st #u7387-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 123px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7386.non-empty-st #u7387-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7386:hover #u7387-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7386.focus-st #u7387-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7386_input,#widgetu7386_prompt
{
	width: 328px;
	min-height: 123px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu7396
{
	z-index: 90;
	width: 342px;
	height: 47px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu7396.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u7399-4
{
	z-index: 91;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u7397-4
{
	z-index: 95;
	width: 328px;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu7396.non-empty-st #u7397-4
{
	background-color: #FFFFFF;
}

#widgetu7396:hover #u7397-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7396.focus-st #u7397-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7396.non-empty-st #u7397-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7396:hover #u7397-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7396.focus-st #u7397-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7412
{
	z-index: 99;
	width: 342px;
	height: 47px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: -1px;
}

#widgetu7412.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 181px -10000px 0px 0px;
}

#u7414-4
{
	z-index: 100;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u7415-4
{
	z-index: 104;
	width: 328px;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu7412.non-empty-st #u7415-4
{
	background-color: #FFFFFF;
}

#widgetu7412:hover #u7415-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7412.focus-st #u7415-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7412.non-empty-st #u7415-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7412:hover #u7415-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7412.focus-st #u7415-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7400
{
	z-index: 108;
	width: 342px;
	height: 47px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
	left: -1px;
}

#widgetu7400.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 237px -10000px 0px 0px;
}

#u7402-4
{
	z-index: 109;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u7401-4
{
	z-index: 113;
	width: 328px;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu7400.non-empty-st #u7401-4
{
	background-color: #FFFFFF;
}

#widgetu7400:hover #u7401-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7400.focus-st #u7401-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7400.non-empty-st #u7401-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7400:hover #u7401-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7400.focus-st #u7401-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7404
{
	z-index: 117;
	width: 342px;
	height: 47px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 293px;
	left: -1px;
}

#widgetu7404.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 293px -10000px 0px 0px;
}

#u7407-4
{
	z-index: 118;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu7392.fld-err-st #u7395-4,#widgetu7396.fld-err-st #u7399-4,#widgetu7412.fld-err-st #u7414-4,#widgetu7400.fld-err-st #u7402-4,#widgetu7404.fld-err-st #u7407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu7408.fld-err-st #u7409-4 p,#widgetu7408.fld-err-st #u7409-4 span,#widgetu7392.fld-err-st #u7395-4 p,#widgetu7392.fld-err-st #u7395-4 span,#widgetu7386.fld-err-st #u7389-4 p,#widgetu7386.fld-err-st #u7389-4 span,#widgetu7396.fld-err-st #u7399-4 p,#widgetu7396.fld-err-st #u7399-4 span,#widgetu7412.fld-err-st #u7414-4 p,#widgetu7412.fld-err-st #u7414-4 span,#widgetu7400.fld-err-st #u7402-4 p,#widgetu7400.fld-err-st #u7402-4 span,#widgetu7404.fld-err-st #u7407-4 p,#widgetu7404.fld-err-st #u7407-4 span
{
	color: #D7244C;
}

#u7406-4
{
	z-index: 122;
	width: 328px;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu7404.non-empty-st #u7406-4
{
	background-color: #FFFFFF;
}

#widgetu7404:hover #u7406-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7404.focus-st #u7406-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7408.fld-err-st #u7410-4,#widgetu7392.fld-err-st #u7394-4,#widgetu7396.fld-err-st #u7397-4,#widgetu7412.fld-err-st #u7415-4,#widgetu7400.fld-err-st #u7401-4,#widgetu7404.fld-err-st #u7406-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu7404.non-empty-st #u7406-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7404:hover #u7406-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7404.focus-st #u7406-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7408.fld-err-st #u7410-4 *,#widgetu7392.fld-err-st #u7394-4 *,#widgetu7386.fld-err-st #u7387-4 *,#widgetu7396.fld-err-st #u7397-4 *,#widgetu7412.fld-err-st #u7415-4 *,#widgetu7400.fld-err-st #u7401-4 *,#widgetu7404.fld-err-st #u7406-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu7408_input,#widgetu7408_prompt,#widgetu7392_input,#widgetu7392_prompt,#widgetu7396_input,#widgetu7396_prompt,#widgetu7412_input,#widgetu7412_prompt,#widgetu7400_input,#widgetu7400_prompt,#widgetu7404_input,#widgetu7404_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu7408.focus-st #widgetu7408_prompt,#widgetu7392.focus-st #widgetu7392_prompt,#widgetu7386.focus-st #widgetu7386_prompt,#widgetu7396.focus-st #widgetu7396_prompt,#widgetu7412.focus-st #widgetu7412_prompt,#widgetu7400.focus-st #widgetu7400_prompt,#widgetu7404.focus-st #widgetu7404_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu7408:hover #widgetu7408_input,#widgetu7408.focus-st #widgetu7408_input,#widgetu7408.fld-err-st #widgetu7408_input,#widgetu7408:hover #widgetu7408_prompt,#widgetu7408.fld-err-st #widgetu7408_prompt,#widgetu7392:hover #widgetu7392_input,#widgetu7392.focus-st #widgetu7392_input,#widgetu7392.fld-err-st #widgetu7392_input,#widgetu7392:hover #widgetu7392_prompt,#widgetu7392.fld-err-st #widgetu7392_prompt,#widgetu7386:hover #widgetu7386_input,#widgetu7386.focus-st #widgetu7386_input,#widgetu7386.fld-err-st #widgetu7386_input,#widgetu7386:hover #widgetu7386_prompt,#widgetu7386.fld-err-st #widgetu7386_prompt,#widgetu7396:hover #widgetu7396_input,#widgetu7396.focus-st #widgetu7396_input,#widgetu7396.fld-err-st #widgetu7396_input,#widgetu7396:hover #widgetu7396_prompt,#widgetu7396.fld-err-st #widgetu7396_prompt,#widgetu7412:hover #widgetu7412_input,#widgetu7412.focus-st #widgetu7412_input,#widgetu7412.fld-err-st #widgetu7412_input,#widgetu7412:hover #widgetu7412_prompt,#widgetu7412.fld-err-st #widgetu7412_prompt,#widgetu7400:hover #widgetu7400_input,#widgetu7400.focus-st #widgetu7400_input,#widgetu7400.fld-err-st #widgetu7400_input,#widgetu7400:hover #widgetu7400_prompt,#widgetu7400.fld-err-st #widgetu7400_prompt,#widgetu7404:hover #widgetu7404_input,#widgetu7404.focus-st #widgetu7404_input,#widgetu7404.fld-err-st #widgetu7404_input,#widgetu7404:hover #widgetu7404_prompt,#widgetu7404.fld-err-st #widgetu7404_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

.js body,#widgetu7408.non-empty-st #widgetu7408_prompt,#widgetu7392.non-empty-st #widgetu7392_prompt,#widgetu7386.non-empty-st #widgetu7386_prompt,#widgetu7396.non-empty-st #widgetu7396_prompt,#widgetu7412.non-empty-st #widgetu7412_prompt,#widgetu7400.non-empty-st #widgetu7400_prompt,#widgetu7404.non-empty-st #widgetu7404_prompt
{
	visibility: hidden;
}

#u7422
{
	position: absolute;
	width: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -508px;
	left: 252px;
}

#u7422:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u7422:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u7423-4
{
	z-index: 127;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u6863
{
	z-index: 131;
	min-height: 26px;
	padding-bottom: 3px;
}

#u6865-4
{
	z-index: 133;
	width: 325px;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 27px;
}

#u6863-bw
{
	z-index: 131;
	min-height: 26px;
	margin-top: 87px;
}

.html
{
	background-color: #FFF7CC;
	background: -webkit-gradient(linear, left center, right center, from(#FFF7CC),color-stop(100%, #FFFAE8));
	background: -webkit-linear-gradient(left,#FFF7CC ,#FFFAE8 100%);
	background: linear-gradient(to right,#FFF7CC ,#FFFAE8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFF7CC, endColorstr=#FFFFFAE8, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFF7CC', endColorstr='#FFFFFAE8', GradientType=1)";
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 29px;
}

@-ms-viewport
{
	width: 400px;
}

@-webkit-viewport
{
	width: 400px;
}

@-o-viewport
{
	width: 400px;
}

@-moz-viewport
{
	width: 400px;
}

@viewport
{
	width: 400px;
}


