.version.servicios /* version checker */
{
	color: #00001F;
	background-color: #BB574C;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 568.9999999999999px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -29px;
	padding-top: 17px;
	width: 0.01px;/* should not cover content below */
}

#pu3029-4
{
	width: 0.01px;
}

#u3029-4
{
	z-index: 2;
	min-height: 25px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #C1272D;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3029-4-bw
{
	z-index: 2;
	min-height: 25px;
	margin-top: 188px;
}

#u6864
{
	z-index: 59;
	width: 209px;
	height: 111px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 85px;
}

#u6866-4
{
	z-index: 64;
	width: 95px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 27px;
}

#u6866-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 95px;
	margin: 5px -10000px 0px 0px;
}

#u6866-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 95px;
	margin: 5px -10000px 0px 0px;
}

#u6867-3
{
	z-index: 68;
	width: 27px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 231px;
}

#u6867-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 27px;
	margin: 5px -10000px 0px 0px;
}

#u6868-3
{
	z-index: 71;
	width: 29px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 146px;
}

#u6868-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 29px;
	margin: 4px -10000px 0px 0px;
}

#accordionu6869wrapper
{
	min-height: 220px;
	z-index: 74;
	margin-bottom: -7px;
	margin-right: -10000px;
	margin-left: 280px;
}

#accordionu6869
{
	z-index: 74;
	width: 100px;
	position: relative;
}

#u6870
{
	z-index: 75;
	width: 100px;
	position: relative;
}

#u6908-4
{
	z-index: 76;
	width: 90px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u6908-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 90px;
	margin: 0px;
}

#u6908-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 90px;
	margin: 0px;
}

#u6908-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 90px;
	margin: 0px;
}

#u6871
{
	z-index: 80;
	width: 100px;
	position: relative;
}

#menuu6872
{
	z-index: 81;
	width: 94px;
	position: relative;
	margin-right: -10000px;
	left: 4px;
}

#u6901
{
	width: 94px;
	position: relative;
}

#u6904
{
	width: 94px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6904:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6906-4
{
	width: 94px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u6904:hover #u6906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u6874
{
	width: 94px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6875-4
{
	width: 94px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u6904.MuseMenuActive #u6906-4,#u6874:hover #u6875-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u6888
{
	width: 94px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6889-4
{
	width: 94px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u6874.MuseMenuActive #u6875-4,#u6888:hover #u6889-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u7344
{
	width: 94px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u7347-4
{
	width: 94px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u6888.MuseMenuActive #u6889-4,#u7344:hover #u7347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u6883
{
	width: 94px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u6884-4
{
	width: 94px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u7344.MuseMenuActive #u7347-4,#u6883:hover #u6884-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u6873,#u6887,#u7343,#u6880,#u6894
{
	width: 94px;
	margin-top: 2px;
	position: relative;
}

#u6895
{
	width: 94px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u6904.MuseMenuActive,#u6874.MuseMenuActive,#u6888.MuseMenuActive,#u7344.MuseMenuActive,#u6883.MuseMenuActive,#u6895.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6898-4
{
	width: 94px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u6883.MuseMenuActive #u6884-4,#u6895:hover #u6898-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u6895.MuseMenuActive #u6898-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3030
{
	z-index: 6;
	width: 121px;
	height: 1px;
	border-color: #000000;
	background-color: #C1272D;
	margin-left: 130px;
	margin-top: 8px;
	position: relative;
}

#u3031-51
{
	z-index: 7;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 37px;
	position: relative;
}

#u6863
{
	z-index: 58;
	min-height: 26px;
	padding-bottom: 3px;
}

#u6865-4
{
	z-index: 60;
	width: 325px;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 27px;
}

#u6863-bw
{
	z-index: 58;
	min-height: 26px;
	margin-top: 42px;
}

.html
{
	background-color: #FFF7CC;
	background: -webkit-gradient(linear, left center, right center, from(#FFF7CC),color-stop(100%, #FFFAE8));
	background: -webkit-linear-gradient(left,#FFF7CC ,#FFFAE8 100%);
	background: linear-gradient(to right,#FFF7CC ,#FFFAE8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFF7CC, endColorstr=#FFFFFAE8, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFF7CC', endColorstr='#FFFFFAE8', GradientType=1)";
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 29px;
}

@-ms-viewport
{
	width: 400px;
}

@-webkit-viewport
{
	width: 400px;
}

@-o-viewport
{
	width: 400px;
}

@-moz-viewport
{
	width: 400px;
}

@viewport
{
	width: 400px;
}

